body {
    height: 100vh;
}

canvas {  
    background-color: #fff;
    border-radius: 15px;
    border: 5px solid black; 
}

#canvas-wrap {
    position: relative;

}

#download, #clear {
        position: relative;
        top: 0;
        padding: 10px;
        background-color: #57c4e5;
        border: 3px solid black;
        color: black;
        display: block-inline;
        margin-top: 5px;
        margin-right:5px;
        transition: .3s;
        }

#download:hover, #clear:hover {
    background-color: transparent;
}

#text {
    position:relative;
    font-weight: bold;
}

#buttons {
    width: 500px;
    text-align: center;
}